<div class="card p-3">
  <div class="card-body">
    <h5 class="card-title  text-center"><%= @enquete.nome %></h5>
    <p class="card-text"><%= @enquete.descricao %></p>
    <% if @enquete.tipo_texto_livre? %>
      <%= form_with url: votos_path, html: { class: "form-voto"}, method: :post do |form| %>
        <input name='enquete_id' type="hidden" id="enquete_id" value="<%= @enquete.id %>" >
        <div class="mb-3 form-group">
          <label for="conteudo" class="form-label">Sugestão</label>
          <input name="conteudo" type="text" class="form-control" id="conteudo" value="<%= @voto.conteudo %>" >
        </div>
        <div class="mb-3">
          <label for="justificativa" class="form-label">Justificativa</label>
          <textarea name='justificativa' type="text" class="form-control" id="justificativa" rows="10"><%= @voto.justificativa %></textarea>
        </div>
        <button type="submit" class="btn btn-primary float-end">SALVAR</button>
      <% end %>
    <% end %>
    <% if @enquete.tipo_opcoes? %>
      <div data-controller="voto" data-voto-maximo-value="<%= @enquete.qtd_votos%>">
        <p class="card-text">Você pode escolher até <%= @enquete.qtd_votos == 1  ? "#{@enquete.qtd_votos} opção" : "#{@enquete.qtd_votos} opções" %>.</p>
        <%= form_with url: votos_path, html: { class: "form-voto", "data-voto-target" => "form" }, method: :post do |form| %>
          <input name='enquete_id' type="hidden" id="enquete_id" value="<%= @enquete.id %>" >
          <input name='opcoes_escolhidas_ids' type="hidden" id="opcoes_escolhidas_ids" data-voto-target="escolhidas" value="<%= @opcoes_escolhidas_ids %>">
          <hr>
          <% @enquete.opcoes.each do |opcao| %>
            <div class="mb-3">
              <input name="opcao-<%= opcao.id %>" type="checkbox" data-voto-target="checkbox" opcao_id="<%= opcao.id %>" id="opcao-<%= opcao.id %>">
              <label for="opcao-<%= opcao.id %>" class="mh-50"><%= opcao.nome %><span class="badge bg-success mx-2"><%= @votos_contador[opcao.id] || 0 %> Votos</span></label>
            </div>
            <p class="text-secondary"><%= opcao.descricao %>
            <hr>
          <% end %>
          <p class="card-text"><span class="badge-primary" data-voto-target="qtd">0</span> opcões escolhidas de um total de <span class="badge-primary"><%= @enquete.qtd_votos %></span>.</p>
          <button type="submit" class="btn btn-primary float-end">SALVAR</button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
