<!DOCTYPE html>
<html>
  <head>
    <title>CoopEnquete</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'cooperado', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'cooperado', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <% if @current_user %>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Sair (<%= @current_user.short_name %>)</a>
        </li>
      </ul>
      <% end%>
      <%= yield %>
      <%= toastr_flash %>
    </div>
  </body>
</html>
